body {
  font-family: 'Futura PT', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1.25;
  text-rendering: geometricPrecision;
  @include media-breakpoint-down(xxl) {
    font-size: 20px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

button, input, textarea {
  text-rendering: inherit;
  font-weight: inherit;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: 700;
}

h1, .h1 {
  font-size: 56px;
  line-height: 1.1;
}
h2, .h2 {
  font-size: 46px;
  line-height: 1.2;
}
h3, .h3 {
  font-size: 40px;
}
h4, .h4 {
  font-size: 34px;
}
h5, .h5 {
  font-size: 28px;
}
h6, .h6 {
  font-size: 1rem;
}
@include media-breakpoint-down(xxl) {
  h1, .h1 {
    font-size: 50px;
  }
  h2, .h2 {
    font-size: 42px;
  }
  h5, .h5 {
    font-size: 24px;
  }

}
@include media-breakpoint-down(xl) {
  h1, .h1 {
    font-size: 42px;
  }
  h2, .h2 {
    font-size: 38px;
  }
  h5, .h5 {
    font-size: 22px;
  }
}
@include media-breakpoint-down(md) {
  h1, .h1 {
    font-size: 34px;
    line-height: 1.2;
  }
  h2, .h2 {
    font-size: 28px;
  }
  h5, .h5 {
    font-size: 20px;
  }
}

p {
  margin: 0 0 20px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

mark {
  background-color: transparent;
  color: var(--color-accent);
}

img:not([class]) {
  display: block;
  width: auto;
  max-width: 100%;
}

strong, b {
  font-weight: 700;
}