//variables
@import "./components/variables";
//normalize
@import "../../node_modules/normalize.css/normalize";

.landing {
  overflow: hidden;
  background-color: #000;
  font-family: 'Futura PT', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1.25;
  @include media-breakpoint-down(xxl) {
    font-size: 20px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }



  /*========== Basic ==========*/
  @import "./components/basic";

  /*========== Layout ==========*/
  @import "./components/layout";

  /*========== Components ==========*/
  @import "./components/components";

  /*========== Typography ==========*/
  @import "./components/typography";

  /*========== Buttons ==========*/
  @import 'components/buttons';

  /*========== Blocks ==========*/
  @import 'components/blocks';
}