include blocks/variables
doctype html
html
  head
    meta(charset="utf-8")
    title BOT
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    //fonts
    link(rel="stylesheet" href="./fonts/Futura/stylesheet.css")
    //styles
    link(rel="stylesheet" href="./styles/common.css")

  body(style='overflow: hidden;')

    style.
      @-webkit-keyframes spin {
      0% {
      transform: rotate(0);
      }
      100% {
      transform: rotate(360deg);
      }
      }
      @-moz-keyframes spin {
      0% {
      -moz-transform: rotate(0);
      }
      100% {
      -moz-transform: rotate(360deg);
      }
      }
      @keyframes spin {
      0% {
      transform: rotate(0);
      }
      100% {
      transform: rotate(360deg);
      }
      }
      .spinner {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1003;
      background: #000000;
      overflow: hidden;
      transition:opacity .25s ease-in-out, visibility .25s ease-in-out;
      }
      .spinner.hidden {
        opacity:0;
        visibiliy:hidden;
      }
      .spinner div:first-child {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
      transform: translate3d(0, 0, 0);
      animation: spin 2s linear infinite;
      }
      .spinner div:first-child:after,
      .spinner div:first-child:before {
      content: '';
      position: absolute;
      border-radius: 50%;
      }
      .spinner div:first-child:before {
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
      }
      .spinner div:first-child:after {
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
      animation: spin 1.5s linear infinite;
      }

    #nb-global-spinner.spinner
      .blob.blob-0
      .blob.blob-1
      .blob.blob-2
      .blob.blob-3
      .blob.blob-4
      .blob.blob-5

    .wrapper(style='visibility:hidden;opacity:0;')

      .lang-widget 
        a(href="javascript:void(0);").lang-widget__trigger

        .lang-widget__content 
          a(href="javascript:void(0);" data-lang='ru').lang-widget__lang-element 
            img(src="./img/icons/ru.svg", alt="icon").icon
          a(href="javascript:void(0);" data-lang='en').lang-widget__lang-element 
            img(src="./img/icons/en.svg", alt="icon").icon


      main.main
        .sky(style='background-image:url("./img/sky.svg")')
          .image.image_cover
            img(src="./img/sky.svg", alt="img").lazyload
        //1
        section.section.screen.screen-1
          .screen-1__scene 
            .image.image_cover 
              img(src="./img/screen1.png", alt="image").lazyload

          .container.screen__container
            .monet-image.screen-1__monet
              .screen-1__monet-inner
                .image.image_contain
                  img(data-src="./img/monet2.png", alt="monet").lazyload
            .screen-1__content 
              .screen-1__text-content
                h1.screen-1__title(data-text='screen_1.title')
                p.screen-1__text(data-text='screen_1.text') 
              .screen-1__button
                a(href="https://cg-bot.com/pages/bot/staking" onclick='window.parent.postMessage("click", "*")').button 
                  span.button__shadow
                  span.button__text(data-text='button.title_1')
            .documents.screen-1__documents
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/1.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/2.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/3.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/4.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/5.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/6.png", alt="document").lazyload
            
        //2
        section.section.screen.screen-2 
          .container.screen__container.screen-2__container
            .screen-2__text-box.screen-2__text-box_1   
              p(data-text='screen_2.text_1')
            .screen-2__text-box.screen-2__text-box_2 
              p(data-text='screen_2.text_2')
              
            .screen-2__visual
              img(data-src="./img/dollar.png", alt="monet").lazyload.screen-2__dollar
              img(data-src="./img/refresh.png", alt="monet").lazyload.screen-2__refresh
              .monet-image.screen-2__monet
                .image.image_contain
                  img(data-src="./img/monet2.png", alt="monet").lazyload
              svg.icon.screen-2__arrow.screen-2__arrow_1
                use(xlink:href='./img/icons/icons-sprite.svg#arrow')
              .image.screen-2__bot
                img(data-src="./img/bot.png", alt="monet").lazyload
              svg.icon.screen-2__arrow.screen-2__arrow_2 
                use(xlink:href='./img/icons/icons-sprite.svg#arrow')
              .image.screen-2__money
                img(data-src="./img/money1.png", alt="monet").lazyload
              svg.icon.screen-2__arrow.screen-2__arrow_3
                use(xlink:href='./img/icons/icons-sprite.svg#arrow')
            
            .documents.screen-2__documents
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/1.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/2.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/3.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/4.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/5.png", alt="document").lazyload
              .documents__element
                .image.image_contain
                  img(data-src="./img/documents/6.png", alt="document").lazyload
            
            .screen-2__text-box.screen-2__text-box_4
              p(data-text='screen_2.text_4')
            .screen-2__text-box.screen-2__text-box_3
              p(data-text='screen_2.text_3')
              .screen-2__button
                a(href="https://cg-bot.com/pages/bot/staking" onclick='window.parent.postMessage("click", "*")').button 
                  span.button__shadow
                  span.button__text(data-text='button.title_1')

        //3
        section.section.screen.screen-3
          .screen-3__background 
            .image
              img(data-src="./img/chart.png", alt="image").lazyload
          .monet-image.screen-3__monet
            .image.image_contain
              img(data-src="./img/monet2.png", alt="monet").lazyload
          .container.screen__container.screen-3__container  
            .screen-3__content
              h2.screen-3__title(data-text='screen_3.title')
              p.screen-3__text-1(data-text='screen_3.text_1')
              .image.image_contain.screen-3__gold.screen-3__gold_mobile 
                img(data-src="./img/gold.png", alt="image").lazyload

              p.screen-3__text-2(data-text='screen_3.text_2')
              p.screen-3__text-3(data-text='screen_3.text_3') 
              .screen-3__video-content
                p.screen-3__text-4(data-text='screen_3.text_4')
                a(href="javascript:void(0);").video-element.screen-3__video
                  .image.image_cover
                    img(src="./img/v.jpg", alt="image").lazyload
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#play')

              .documents.screen-3__documents
                .documents__element
                  .image.image_contain
                    img(data-src="./img/documents/1.png", alt="document").lazyload
                .documents__element
                  .image.image_contain
                    img(data-src="./img/documents/2.png", alt="document").lazyload
                .documents__element
                  .image.image_contain
                    img(data-src="./img/documents/3.png", alt="document").lazyload
                .documents__element
                  .image.image_contain
                    img(data-src="./img/documents/4.png", alt="document").lazyload
                .documents__element
                  .image.image_contain
                    img(data-src="./img/documents/5.png", alt="document").lazyload
                .documents__element
                  .image.image_contain
                    img(data-src="./img/documents/6.png", alt="document").lazyload

              .screen-3__button 
                .image.image_contain.screen-3__gold.screen-3__gold_desktop 
                  img(data-src="./img/gold.png", alt="image").lazyload
                a(href="https://cg-bot.com/pages/bot/staking" onclick='window.parent.postMessage("click", "*")').button 
                  span.button__shadow
                  span.button__text(data-text='button.title_2')

        //4
        section.section.screen.screen-4
          .container.screen__container.screen-4__container
            h2.screen-4__title(data-text='screen_4.title')
            .screen-4__monet-elements
              svg.icon.screen-4__arrow
                use(xlink:href='./img/icons/icons-sprite.svg#arrow')
              .monet-image.screen-4__monet
                .image.image_contain
                  img(data-src="./img/monet2.png", alt="monet").lazyload
            .screen-4__content
              .screen-4__left-content 
                h5.screen-4__text-1(data-text='screen_4.text_1')
                .image.image_contain.screen-4__chart
                  img(data-src="./img/Rectangle 36.jpg", alt="image").lazyload
              
              .screen-4__right-content 
                h5.screen-4__text-2(data-text='screen_4.text_2')
                .screen-4__right-content-bottom
                  ul.check-list.screen-4__list
                    li.check-list__item 
                      svg.icon
                        use(xlink:href='./img/icons/icons-sprite.svg#check')
                      span(data-text='screen_4.text_3')
                    li.check-list__item   
                      svg.icon
                        use(xlink:href='./img/icons/icons-sprite.svg#check')
                      span(data-text='screen_4.text_4')
                    li.check-list__item   
                      svg.icon
                        use(xlink:href='./img/icons/icons-sprite.svg#check')
                      span(data-text='screen_4.text_5')

                  .screen-4__button
                    a(href="https://cg-bot.com/pages/bot/staking" onclick='window.parent.postMessage("click", "*")').button 
                      span.button__shadow
                      span.button__text(data-text='button.title_3')

        //5
        section.section.screen.screen-5
          .container.screen__container.screen-5__container 
            h2.screen-5__title(data-text='screen_5.title')
            .screen-5__content 
              .screen-5__box.screen-5__box_1
                .image.image_contain 
                  img(data-src="./img/money2.png", alt="money").lazyload
                svg.icon
                  use(xlink:href='./img/icons/icons-sprite.svg#arrow-short')
              
              .screen-5__box.screen-5__box_2
                p.screen-5__box-title(data-text='screen_5.text_1')
                .monet-image.screen-5__monet
                  .image.image_contain
                    img(data-src="./img/monet2.png", alt="monet").lazyload
                svg.icon
                  use(xlink:href='./img/icons/icons-sprite.svg#arrow-short')

              .screen-5__box.screen-5__box_3
                img(data-src="./img/curve-arrow.png", alt="arrow").lazyload.screen-5__arrow
                .image.image_contain 
                  img(data-src="./img/bot.png", alt="money").lazyload
                p.screen-5__box-title(data-text='screen_5.text_2')
                svg.icon
                  use(xlink:href='./img/icons/icons-sprite.svg#arrow-short')

              .screen-5__box.screen-5__box_4
                ul.screen-5__list.screen-5__list_1
                  li 4,65 CG
                  li 46,5 CG
                  li 465 CG
                p.screen-5__box-title(data-text='screen_5.text_3')
                svg.icon
                  use(xlink:href='./img/icons/icons-sprite.svg#arrow-short')

              .screen-5__box.screen-5__box_5
                p.screen-5__box-title(data-text='screen_5.text_4')
                svg.icon
                  use(xlink:href='./img/icons/icons-sprite.svg#arrow-short')
                .image.image_contain 
                  img(data-src="./img/chartx100.png", alt="money").lazyload

              .screen-5__box.screen-5__box_6
                p.screen-5__box-title(data-text='screen_5.text_5')
                .image.image_contain 
                  img(data-src="./img/money3.png", alt="money").lazyload
                ul.screen-5__list.screen-5__list_2
                  li 465$
                  li 4.650$
                  li 46.500$

              .screen-5__button
                a(href="https://cg-bot.com/pages/bot/staking" onclick='window.parent.postMessage("click", "*")').button 
                  span.button__shadow
                  span.button__text(data-text='button.title_4')

        //6
        section.section.screen.screen-6
          .container.screen__container.screen-6__container 
            h2.screen-6__title(data-text='screen_6.title')
            .screen-6__content 
              .screen-6__pyramid 
                .screen-6__pyramid-arrow.screen-6__pyramid-arrow_left 
                  span(data-text='screen_6.text_7')
                  svg.icon(viewBox="0 0 199.7 40.3")
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow')
                  
                .screen-6__pyramid-arrow.screen-6__pyramid-arrow_right
                  span(data-text='screen_6.text_8')
                  svg.icon(viewBox="0 0 199.7 40.3")
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow')
                  
                .image.image_contain.screen-6__pyramid-element
                  img(data-src="./img/pyramid.svg", alt="image").lazyload

                .screen-6__pyramid-loop
                  span(data-text='screen_6.text_9')
                  .image.image_contain
                    img(data-src="./img/loop.svg", alt="image").lazyload

              .screen-6__text-content   
                .screen-6__top 
                  .image.image_contain 
                    img(data-src="./img/money2.png", alt="money").lazyload
                  .screen-6__top-items 
                    .screen-6__top-item 
                      span(data-text='screen_6.text_1')
                      span 50 %
                    .screen-6__top-item   
                      span(data-text='screen_6.text_2')
                      span(data-text='screen_6.text_3')

                ul.check-list.screen-6__list
                  li.check-list__item 
                    svg.icon
                      use(xlink:href='./img/icons/icons-sprite.svg#check')
                    span(data-text='screen_6.text_4')
                  li.check-list__item 
                    svg.icon
                      use(xlink:href='./img/icons/icons-sprite.svg#check')
                    span(data-text='screen_6.text_5')
                  li.check-list__item 
                    svg.icon
                      use(xlink:href='./img/icons/icons-sprite.svg#check')
                    span(data-text='screen_6.text_6')

        //7
        section.section.screen.screen-7
          .screen-7__background
            .image 
              img(data-src="./img/lastbg.png", alt="bg").lazyload

          .container.screen__container.screen-7__container 
            .screen-7__top 
              .screen-7__items 

                .screen-7__item 
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow-short')
                  .screen-7__item-text 
                    h5.screen-7__item-title(data-text='screen_7.text_1')
                    p.screen-7__item-text(data-text='screen_7.text_2')
                  .screen-7__item-else 
                    span +
                    .monet-image.screen-7__item-monet
                      .image.image_contain
                        img(data-src="./img/monet2.png", alt="monet").lazyload

                .screen-7__item 
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow-short')
                  .screen-7__item-text 
                    h5.screen-7__item-title(data-text='screen_7.text_3')
                    p.screen-7__item-text(data-text='screen_7.text_4') 
                  .screen-7__item-else 
                    span + 0,1$
                    .image.image_contain.screen-7__item-stock-image
                      img(data-src="./img/stock-market.svg", alt="monet").lazyload

              .screen-7__banner.image.image_cover
                img(data-src="./img/chart3.png", alt="image").lazyload
                span.screen-7__banner-text-1(data-text='screen_7.text_5')
                span.screen-7__banner-text-2(data-text='screen_7.text_6')
                span.screen-7__banner-text-3(data-text='screen_7.text_7')
                span.screen-7__banner-text-4(data-text='screen_7.text_8')

            .screen-7__bottom 
              h2.screen-7__title(data-text='screen_7.text_9')
              h5.screen-7__text-title(data-text='screen_7.text_10')
              .screen-7__dreams
                .screen-7__dream.screen-7__dream_1.image.image_cover 
                  img(data-src="./img/dream_1.png", alt="image").lazyload
                .screen-7__dream.screen-7__dream_2.image.image_cover 
                  img(data-src="./img/dream_2.png", alt="image").lazyload
                .screen-7__dream.screen-7__dream_3.image.image_cover 
                  img(data-src="./img/dream_3.png", alt="image").lazyload
                .screen-7__dream.screen-7__dream_4.image.image_cover 
                  img(data-src="./img/dream_4.png", alt="image").lazyload

              .screen-7__button 
                a(href="https://cg-bot.com/pages/bot/staking" onclick='window.parent.postMessage("click", "*")').button 
                  span.button__shadow
                  span.button__text(data-text='button.title_5') 

    //webpack
    script(src="./scripts/app.js")